<h1>Welcome to the Rock Paper Scissors game</h1>
<p>The game is played where players deliver hand signals that will represent the elements of the game; rock, paper and scissors. The outcome of the game is determined by 3 simple rules:
<ul>
  <li>Rock wins against scissors.</li>
  <li>Scissors win against paper.</li>
  <li>Paper wins against rock.</li>
</ul></p>
