body {
  background-color: #99ccff;
}
h1 {
  text-align: center;
  color: #003366;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: bold;
}
p {
  text-align: center;
  color: #003366;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
li {
  text-align: left;
  color: #003366;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
